<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" (click)="statusContact = !statusContact">
      <i class="large fa fa-plus"></i>
    </a>
</div>

<div class="row" *ngIf="statusContact">
    <div class="col s12">
        <form (ngSubmit)="newContact()">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fa fa-user prefix"></i>
                    <input id="name" type="text" name="name" [(ngModel)]="contact.name">
                    <label for="name">Full Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="fa fa-phone prefix"></i>
                    <input id="number" type="text" name="number" [(ngModel)]="contact.phone">
                    <label for="number">Number</label>
                </div>
            </div>
            <button class="btn-large red" type="submit">submit</button>
        </form> 
    </div>       
</div>

